 .u-section-1 {
  background-image: url("images/default-image.jpg");
  min-height: 748px;
  background-position: 50% 50%;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 748px;
  background-image: linear-gradient(#f1b5b8, #adf6f2);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 178px auto 0 40px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 700;
  margin: 48px 9px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.8;
  width: 334px;
  margin: 18px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 48px auto 0;
  padding: 10px 52px 10px 50px;
}

.u-section-1 .u-image-1 {
  min-height: 748px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/esff-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 617px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 342px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 276px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    padding-right: 35px;
    padding-left: 33px;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 544px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 52px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 575px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 331px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 362px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/dfdfdfdfdfdfdf.jpg");
  min-height: 816px;
  background-position: 50% 50%;
}

.u-section-2 .u-shape-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-group-1 {
  width: 532px;
  min-height: 632px;
  background-image: linear-gradient(#adf6f2, #f1b5b8);
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  margin: 80px auto 60px calc(((100% - 1140px) / 2) + 19px);
}

.u-section-2 .u-container-layout-1 {
  padding: 29px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  margin: 76px 27px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 59px 19px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  text-transform: none;
  font-family: Poppins;
  margin: 50px auto 0 27px;
  padding: 12px 31px 12px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 673px;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 19px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 515px;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 19px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -5px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 386px;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 8px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 149px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -89px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 243px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-top: 76px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#f1b5b8, #72efe9);
}

.u-section-3 .u-sheet-1 {
  min-height: 120px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 4px;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 27px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}